.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal__type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/closing_icon.svg);
  padding: 0;
  background-color: transparent;
  background-position: center;
  border: none;
  opacity: 40%;
  cursor: pointer;
}

.modal__close-btn:hover {
  cursor: pointer;
  opacity: 100%;
}

.modal__title {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 32px;
  line-height: 1;
  color: #212121;
  max-width: 169px;
  width: 100%;
  margin: 0 0 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.1;
  color: #212121b2;
  font-weight: 500;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  padding: 16px 0 16px 12px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  color: #212121;
  opacity: 40%;
  border-radius: 8px;
  border-color: #21212166;
  border-width: 1px;
  cursor: pointer;
}

.modal__input:hover {
  opacity: 100%;
  cursor: pointer;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  max-width: 156px;
  width: 100%;
  height: 52px;
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 8px;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  opacity: 100%;
}

.modal__submit-btn:hover {
  opacity: 80%;
  cursor: pointer;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__preview_close-btn {
  top: 0;
  right: -52.5px;
  background-image: url(../images/white_close.svg);
  opacity: 1;
}

.modal__preview_close-btn:hover {
  opacity: 40%;
}

.modal__caption {
  width: 198px;
  height: 29px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #ffffff;
  background-color: #212121;
  margin: 8px 0 0;
}

@media screen and (max-width: 627px) {
  .modal__title {
    font-size: 20px;
    margin: 0 0 24px;
  }

  .modal__label {
    margin: 0 0 24px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__preview_close-btn {
    top: -48px;
    right: 0;
  }

  .modal__submit-btn {
    max-width: none;
    width: 100%;
  }

  .modal__image {
    max-width: unset;
  }

  .modal__caption {
    width: 159px;
    height: 19px;
    font-size: 16px;
  }
}
